html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-weight: normal;
  font-size: 16px; }
@media only screen and (max-width: 992px) {
  html, body {
    font-size: 15px; } }
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px; } }

* {
  box-sizing: border-box; }

html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0;
  overflow-x: hidden; }

main {
  display: block; }

h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 1;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button {
  cursor: pointer; }

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;}

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button:focus, select:focus {
  outline: 0;
  box-shadow: none; }

input:focus {
  outline: 0; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

textarea {
  overflow: auto; }


details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: "Braga";
  src: url("../fonts/BragaRegular.eot");
  src: url("../fonts/BragaRegular.eot") format("embedded-opentype"), url("../fonts/BragaRegular.woff") format("woff"), url("../fonts/BragaRegular.woff2") format("woff2"), url("../fonts/BragaRegular.ttf") format("truetype"), url("../fonts/BragaRegular.otf") format("opentype"); }



.top-nav {
  background-color: #111;
  padding: 0.75em 0; }
@media only screen and (max-width: 768px) {
  .top-nav {
    display: none; } }
.top-nav__wrapper {
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center; }
.top-nav.-style-2 .top-nav__wrapper__quick-links ul li{
  display: inline-block; }
.top-nav.-style-2 .top-nav__wrapper__quick-links ul li a{
  color: #fff;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;

  cursor: pointer; }
.top-nav.-style-2 .top-nav__wrapper__quick-links ul li a:hover{
  color: #d16868; 
  transition: 0.2s ease-in-out;}
.top-nav.-style-2 .top-nav__wrapper__quick-links ul li::after{
  content: "|";
  margin: 0 0.76923em;
  color: #fff; }
.top-nav.-style-2 .top-nav__wrapper__quick-links ul li:last-child::after{
  display: none; }






@media only screen and (max-width: 992px) {
  .benefits {
    font-size: 16px; } }

.benefits__item {
  display: flex;
  align-items: flex-start; }
.benefits__item:hover .benefits__item__icon {
  animation: pulse 1s forwards; }
@media only screen and (max-width: 992px) {
  .benefits__item {
    margin-bottom: 1.875em; } }
.benefits__item__icon {
  width: 1.875em;
  margin-right: 1.5625em; }
  .benefits__item__icon img {
    height: 100%;
    width: 100%;
    object-fit: contain; }
.benefits__item__content h5 {
  color: #111;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.625em; }
.benefits__item__content p {
  color: #111;
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1.69231em; }

/*Scale icon dịch vụ và vận chuyển*/

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  100% {
    transform: scale(1.2); } }





.btn,.product-tab-slide__content .slick-arrow {
  transition: 0.2s ease-in-out;
  font-size: 0.8125em;
  line-height: 1.625em;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 1.15385em 2.30769em;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  letter-spacing: 0.1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

.btn.-round{
  border-radius: 999px; }
.btn.-underline{
  border: 0;
  padding: 0;
  padding-bottom: 0.625em;
  position: relative;
  overflow: hidden; }
.btn.-underline:after, .btn.-underline:before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f26460;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.2s ease-in-out; }
.btn.-underline:after {
  left: -100%;
  background-color: #111; }
.btn.-underline:hover:after{
  left: 0; }
.btn:focus{
  outline: 0; }
.btn.-white{
  background-color: #fff;
  color: #fff;
  border: 1px solid #e1e1e1;
  color: #111; }
.btn.-white:hover{
  background-color: #e6e6e6; }


.product {
  position: relative; }
.product-category {
  color: #888;
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1;
  text-transform: capitalize; }
.product-price--main {
  color: #111;
  font-size: 0.8125em;
  font-weight: 600;
  line-height: 1; }
.product-price--discount {
  color: #888;
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1;
  text-decoration: line-through; }
.product-colors {
  margin-left: auto; }
.product-colors__item {
  height: 0.625em;
  width: 0.625em;
  border-radius: 999px;
  display: inline-block;
  margin: 0 0.1875em;
  cursor: pointer; }
.product-colors__item:first-child {
  margin-left: 0;
  padding-left: 0; }
.product-colors__item:last-child {
  margin-right: 0;
  padding-right: 0; }
.product-colors__item:hover {
  border: 1px solid #e1e1e1; }
.product-colors__item.active {
  border: 1px solid #e1e1e1; }
.product-type {
  position: absolute;
  top: 0.9375em;
  left: 0.9375em;
  z-index: 10; }
.product-type .-new, .product-type .-sale {
  color: #fff;
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1;
  background-color: #1a7be9;
  padding: 0.3125em;
  border-radius: 0.1875em; }
.product-type .-sale {
  background-color: #de1339; }
.product-btn {
  display: inline-block; }
.product:hover .product-thumb__image img:nth-child(2) {
  opacity: 0; }
.product-thumb {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.5625em; }
.product-thumb:hover .product-thumb__actions {
  opacity: 1;
  transform: translateY(0); }
.product-thumb__image {
  display: block;
  height: 100%;
  width: 100%; }
.product-thumb__image img {
  height: 100%;
  width: 100%;
  object-fit: cover; }
.product-thumb__image img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
  z-index: 9; }
.product-thumb__image img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
  z-index: 10; }
.product-thumb__actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25em 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s ease-in-out; }
.product-thumb__actions .product-btn {
  margin: 0 0.3125em;
  display: inline-block; }
.product-thumb__actions .product-btn .product__actions__item {
  height: 3.57143em;
  width: 3.57143em;
  padding: 0;
  line-height: 3.57143em; }
.product-thumb__actions .product-btn .product__actions__item:first-child {
  margin-left: 0;
  padding-left: 0; }
.product-thumb__actions .product-btn .product__actions__item:last-child {
  margin-right: 0;
  padding-right: 0; }
.product-thumb__actions .product-btn .product__actions__item.active {
  background-color: #f26460;
  color: #fff; }
  .product-name {
    color: #111;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.625em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    display: block;
    margin-bottom: 0.625em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
    .product-name:hover {
      color: #f26460; }
  .product-content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625em; }
    .product-content__header h5 {
      color: #888;
      font-size: 0.8125em;
      font-weight: normal;
      line-height: 1;
      text-transform: capitalize; }
  .product-content__footer {
    display: flex;
    align-items: center; }
    .product-content__footer .product-price--main {
      margin-right: 0.76923em; }
  .product.-inline-content {
    position: relative; }
    .product.-inline-content .product-thumb__actions {
      bottom: 50%;
      transform: translateY(50%); }
    .product.-inline-content .product-content {
      position: absolute;
      bottom: 1.875em;
      left: 1.875em;
      right: 1.875em;
      z-index: 10; }






.slider-arrow-middle .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; }
  .slider-arrow-middle .slick-arrow.slick-prev {
    left: 0; }
  .slider-arrow-middle .slick-arrow.slick-next {
    right: 0; }

.social-icons.-white a{
  color: #fff; }

.social-icons.-border ul > li {
  margin: 0 0.3125em; }
  .social-icons.-border ul > li a {
    height: 2.8125em;
    width: 2.8125em;
    text-align: center;
    line-height: 2.8125em;
    border-radius: 999px;
    border: 1px solid #e1e1e1;
    display: inline-block; }
    .social-icons.-border ul > li a:hover {
      background-color: #f26460;
      color: #fff;
      border-color: transparent; }

.social-icons.-border ul--light-bg > li a {
  background-color: #e1e1e1; }

.social-icons ul > li {
  display: inline-block;
  margin: 0 0.625em; }
  .social-icons ul > li:first-child {
    margin-left: 0;
    padding-left: 0; }
  .social-icons ul > li:last-child {
    margin-right: 0;
    padding-right: 0; }
  .social-icons ul > li a {
    color: #111;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    transition: 0.2s ease-in-out;
    cursor: pointer; }
    .social-icons ul > li a:hover {
      color: #f26460; }

ul {
  list-style: none; }

.rate i {
  color: #ecba0b;
  font-size: 0.75em; }

.outline-none {
  outline: 0; }


.five-col {
  flex: 1 1 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px; }

.w-100 {
  width: 100%; }

.mb-100 {
  margin-bottom: 6.25rem; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }




.dow-three {
  margin-bottom: 6.25rem;
  background-image: url("../images/deal_of_week/DOWThree/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8.125em 0; }
  .dow-three__content {
    text-align: center; }
    .dow-three__content h5 {
      color: #f26460;
      font-size: 1em;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 1.875em; }
    .dow-three__content h3 {
      color: #fff;
      font-size: 3.75em;
      font-weight: normal;
      line-height: 1;
      font-family: "Braga";
      margin-bottom: 0.83333em; }
    .dow-three__content .btn, .dow-three__content .category-two .slick-arrow, .category-two .dow-three__content .slick-arrow, .dow-three__content .footer-one__header__newsletter .footer-one-newsletter .mc-form button, .footer-one__header__newsletter .footer-one-newsletter .mc-form .dow-three__content button, .dow-three__content .footer-two__content .footer-two-newsletter .mc-form button, .footer-two__content .footer-two-newsletter .mc-form .dow-three__content button, .dow-three__content .product-detail__slide-two__small .slick-arrow, .product-detail__slide-two__small .dow-three__content .slick-arrow, .dow-three__content .product-tab-slide__content .slick-arrow, .product-tab-slide__content .dow-three__content .slick-arrow, .dow-three__content .slider.-style-3 .slider__carousel .slick-arrow, .slider.-style-3 .slider__carousel .dow-three__content .slick-arrow, .dow-three__content .testimonial-three .slick-arrow, .testimonial-three .dow-three__content .slick-arrow {
      color: #fff; }

.footer-one {
  padding-top: 2.5rem; }
.footer-one__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 2.5em;
  margin-bottom: 3.125em;
  border-bottom: 1px solid #e1e1e1; }
@media only screen and (max-width: 768px) {
  .footer-one__header {
    flex-direction: column;
    align-items: center; } }
.footer-one__header__logo a {
  display: inline-block; }
.footer-one__header__logo a img {
  height: 90px;
  width: 180px;
  object-fit: contains; }
@media only screen and (max-width: 768px) {
  .footer-one__header__logo {
    margin-bottom: 1.07143em; } }
@media only screen and (max-width: 992px) {
  .footer-one__header__social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875em; }
  .footer-one__header__social .social-icons {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .footer-one__header__social {
    margin-top: 0; } }
.footer-one .footer-title {
  color: #111;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2.5em; }
  @media only screen and (max-width: 992px) {
.footer-one .footer-title {
  margin-bottom: 1.42857em; } }
.footer-one__body {
  padding-bottom: 3.125em; }
@media only screen and (max-width: 992px) {
  .footer-one__body .footer__section {
    margin-bottom: 1.875em; } }
.footer-one__body .footer__section.-info p {
  color: #888;
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.71429em;
  margin-bottom: 0.625em; }
.footer-one__body .footer__section.-info p span {
  color: #111; }
.footer-one__body .footer__section.-info p:last-child {
  margin-bottom: 0; }
.footer-one__body .footer__section.-payment p {
  color: #888;
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.71429em;
  margin-bottom: 2.14286em; }
.footer-one__body .footer__section.-payment .payment-methods img {
  max-width: 100%; }
.reference {
  background-color: #f7f5f4;
}



.menu {
  background-color: #fff; }
  @media only screen and (max-width: 1170px) {
    .menu {
      font-size: 15px; } }
  @media only screen and (max-width: 992px) {
    .menu {
      padding: 0.9375em 0; } }
  @media only screen and (max-width: 768px) {
    .menu {
      font-size: 14px; } }
  .menu-functions {
    display: flex;
    align-items: center; }
    .menu-functions .menu-icon {
      margin-right: 1.875em; }
      .menu-functions .menu-icon img {
        height: 1.5625em;
        width: 1.5625em;
        object-fit: contain; }
        .menu-functions .menu-icon.-navbar {
          display: none;
          margin-right: 0; }
          .menu-functions .menu-icon.-navbar .bar {
            height: 0.125em;
            width: 1.5625em;
            margin-bottom: 0.3125em;
            background-color: #000; }
            .menu-functions .menu-icon.-navbar .bar:last-child {
              margin-bottom: 0; }
          @media only screen and (max-width: 992px) {
            .menu-functions .menu-icon.-navbar {
              display: block; } }
    .menu-functions .menu-cart {
      margin-right: 0;
      display: flex;
      align-items: center; }
      .menu-functions .menu-cart .menu-icon {
        margin-right: 0.625em;
        position: relative; }
        .menu-functions .menu-cart .menu-icon span {
          color: #111;
          font-size: 0.625em;
          font-weight: 400;
          line-height: 1;
          position: absolute;
          top: 1.2em;
          left: 50%;
          transform: translateX(-50%); }
      .menu-functions .menu-cart h5 {
        color: #888;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 1; }
        .menu-functions .menu-cart h5 span {
          color: #111; }
    @media only screen and (max-width: 992px) {
      .menu-functions .menu-icon {
        margin-right: 0.9375em; }
        .menu-functions .menu-icon.-search {
          display: none; }
      .menu-functions .menu-cart {
        margin-right: 0.9375em; }
        .menu-functions .menu-cart .menu-icon {
          margin-right: 0; }
        .menu-functions .menu-cart h5 {
          display: none; } }
  .menu__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between; }
    @media only screen and (max-width: 992px) {
      .menu__wrapper .navigator {
        display: none; } }
    .menu__wrapper .navigator > ul {
      list-style: none; }
      .menu__wrapper .navigator > ul > li {
        display: inline-block;
        margin: 0 1.25em; }
        .menu__wrapper .navigator > ul > li.relative {
          position: relative; }
        .menu__wrapper .navigator > ul > li:first-child {
          margin-left: 0;
          padding-left: 0; }
        .menu__wrapper .navigator > ul > li:last-child {
          margin-right: 0;
          padding-right: 0; }
        .menu__wrapper .navigator > ul > li.active > a:after {
          height: 0.5em; }
        .menu__wrapper .navigator > ul > li > a {
          color: #111;
          font-size: 0.9375em;
          font-weight: 600;
          text-decoration: none;
          line-height: 6.66667em;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          display: block;
          position: relative;
          overflow: hidden; }
          .menu__wrapper .navigator > ul > li > a:hover {
            color: #111; }
          .menu__wrapper .navigator > ul > li > a:after {
            content: "";
            position: absolute;
            top: 50%;
            left: -100%;
            background-color: #f2646061;
            transition: 0.2s ease-in-out;
            height: 0.53333em;
            width: 100%;
            z-index: 0;}
        .menu__wrapper .navigator > ul > li:hover > a:after {
          left: 0; }
    .menu__wrapper .search-box {
      position: absolute;
      right: 0;
      width: 500px;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease-in-out;
      transform: translatex(150px);
      z-index: 3; }
      .menu__wrapper .search-box.active {
        opacity: 1;
        visibility: visible;
        transform: translatex(0); }
      .menu__wrapper .search-box form {
        position: relative;
        z-index: 1; }
        .menu__wrapper .search-box form input {
          background-color: #fff;
          border: 1px solid #e1e1e1;
          height: auto;
          width: 100%;
          transition: 0.2s ease-in-out;
          -webkit-appearance: none;
          padding: 1.25rem;
          border-radius: 0px;
          color: #111;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: auto;
          border: 0;
          box-shadow: 1px 1px 9px #00000024; }
          .menu__wrapper .search-box form input:focus {
            outline: 0; }

          .menu__wrapper .search-box form input:input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: auto; }
        .menu__wrapper .search-box form button {
          position: absolute;
          border: 0;
          background-color: transparent;
          right: 0.9375em;
          top: 50%;
          transform: translateY(-50%); }
  .menu.-style-6 {
    padding: 1.875em 0; }
    @media only screen and (max-width: 992px) {
      .menu.-style-6 .menu-functions:first-child {
        display: none; } }
    .menu.-style-6 .menu__wrapper .navigator {
      display: flex;
      align-items: flex-end; }
      .menu.-style-6 .menu__wrapper .navigator .menu__wrapper__logo {
        margin-right: auto; }
        .menu.-style-6 .menu__wrapper .navigator .menu__wrapper__logo img {
          height: 100px;
          width: 200px;
          object-fit: cover; }
      @media only screen and (max-width: 992px) {
        .menu.-style-6 .menu__wrapper .navigator > ul {
          display: none; } }
      .menu.-style-6 .menu__wrapper .navigator > ul.-left {
        margin-right: 2.8125em; }
      .menu.-style-6 .menu__wrapper .navigator > ul.-right {
        margin-left: 2.8125em; }
      .menu.-style-6 .menu__wrapper .navigator > ul > li > a {
        line-height: 1; }
    .menu.-style-6 .menu__wrapper .search-box {
      left: 0;
      right: auto; }

  .menu.-style-6 .menu__wrapper .navigator {
    align-items: center; }






.product-slide {
  margin-bottom: 6.25rem; }
  .product-slide .product-slide__wrapper {
    margin: 0 -0.9375em;
    margin-bottom: 3.125em; }
  .product-slide__item {
    padding: 0 0.9375em;
    outline: 0; }

.product-tab.-style-2{
  margin-bottom: 6.25rem; }
  .product-tab.-style-2 .product-tab__content__wrapper .product{
    margin-bottom: 1.875em; }
    .product-tab.-style-2 .product-tab__content__wrapper .product.-height-limit .product-thumb{
      height: 16.875em; }


.product-tab-slide {
  background-color: #f7e7e8;
  margin-bottom: 6.25rem;
  padding: 6.25em 0; }
  .product-tab-slide__header, .product-tab.-style-2 .product-tab__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3.125em; }
    @media only screen and (max-width: 768px) {
      .product-tab-slide__header, .product-tab.-style-2 .product-tab__header{
        justify-content: center; }
        .product-tab-slide__header h5, .product-tab.-style-2 .product-tab__header h5{
          margin-bottom: 0.9375em; } }
    .product-tab-slide__header h5, .product-tab.-style-2 .product-tab__header h5{
      color: #111;
      font-size: 2.8125em;
      font-weight: 500;
      line-height: 1; }
    .product-tab-slide__header__controller {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      @media only screen and (max-width: 576px) {
        .product-tab-slide__header__controller {
          justify-content: center; } }
      .product-tab-slide__header__controller ul {
        margin-right: 1.875em; }
        .product-tab-slide__header__controller ul li {
          display: inline-block;
          margin: 0 0.625em; }
          .product-tab-slide__header__controller ul li:first-child {
            margin-left: 0;
            padding-left: 0; }
          .product-tab-slide__header__controller ul li:last-child {
            margin-right: 0;
            padding-right: 0; }
          .product-tab-slide__header__controller ul li a {
            color: rgb(54, 53, 53);
            font-size: 0.9375em;
            font-weight: 500;
            text-decoration: none;
            line-height: 1;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            text-transform: capitalize;
            position: relative;
            padding: 8px 0;
            overflow: hidden;
            display: inline-block; }
            .product-tab-slide__header__controller ul li a:hover {
              color: #111; }
            .product-tab-slide__header__controller ul li a:after {
              content: "";
              position: absolute;
              top: 50%;
              left: -100%;
              background-color: #f2646061;
              height: 0.5em;
              width: 100%;
              z-index: 0;
              transition: 0.2s ease-in-out; }
            .product-tab-slide__header__controller ul li a:hover:after {
              left: 0; }
          .product-tab-slide__header__controller ul li.active a {
            color: #111; }
            .product-tab-slide__header__controller ul li.active a:after {
              left: 0; }
      .product-tab-slide__header__controller .btn{
        padding: 0.9375em 1.25em; 
        border: double black;}
  .product-tab-slide__content .slick-arrow {
    color: #fff;
    font-size: 1.875em;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 0.33333em 0.66667em;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; }
    .product-tab-slide__content .slick-arrow:hover {
      color: #f26460; }
    .product-tab-slide__content .slick-arrow.slick-next {
      right: 2.5em; }
    .product-tab-slide__content .slick-arrow.slick-prev {
      left: 2.5em; }
    @media only screen and (max-width: 768px) {
      .product-tab-slide__content .slick-arrow.slick-next {
        right: 0.9375em; }
      .product-tab-slide__content .slick-arrow.slick-prev {
        left: 0.9375em; } }
  .product-tab-slide__content .slide-item {
    padding: 0 0.9375em; }

.slider {
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4; }
  @media only screen and (max-width: 768px) {
    .slider {
      font-size: 14px; } }
  .slider-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .slider .slider__carousel__item {
    display: flex !important;
    align-items: center;
    height: 37.5em;
    position: relative;
    z-index: 2;
    outline: 0; }
    .slider .slider__carousel__item .slider-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
      .slider .slider__carousel__item .slider-background img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .slider .slider__carousel .slider-dots {
    position: absolute;
    bottom: 1.875em;
    left: 0;
    right: 0;
    text-align: center; }
    .slider .slider__carousel .slider-dots li {
      display: inline-block;
      margin: 0 0.3125em; }
      .slider .slider__carousel .slider-dots li:first-child {
        margin-left: 0;
        padding-left: 0; }
      .slider .slider__carousel .slider-dots li:last-child {
        margin-right: 0;
        padding-right: 0; }
      .slider .slider__carousel .slider-dots li.slick-active .slider-dot {
        background-color: rgba(0, 0, 0, 0.5); }
      .slider .slider__carousel .slider-dots li .slider-dot {
        height: 0.625em;
        width: 0.625em;
        border-radius: 999px;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer; }



.navigation-sidebar {
  height: 100%;
  background-color: #fff;
  z-index: 101;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .navigation-sidebar .search-box {
    margin-bottom: 1.875em; }
    .navigation-sidebar .search-box form {
      position: relative; }
      .navigation-sidebar .search-box form input {
        width: 100%;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        height: auto;
        width: 100%;
        transition: 0.2s ease-in-out;
        -webkit-appearance: none;
        padding: 1.07143em;
        border-radius: 0px;
        color: #111;
        font-size: 0.875em;
        font-weight: normal;
        line-height: auto;
        border: 0;
        box-shadow: 1px 1px 9px #00000024; }
        .navigation-sidebar .search-box form input:focus {
          outline: 0; }
        .navigation-sidebar .search-box form input::input-placeholder {
          color: #888;
          font-size: 0.875em;
          font-weight: normal;
          line-height: auto; }
      .navigation-sidebar .search-box form button {
        position: absolute;
        border: 0;
        background-color: transparent;
        right: 0.625em;
        top: 50%;
        transform: translateY(-50%); }
        .navigation-sidebar .search-box form button img {
          height: 0.9375em;
          width: 0.9375em;
          object-fit: cover; }
  .navigation-sidebar .navigator-mobile {
    margin-bottom: 5em; }
    .navigation-sidebar .navigator-mobile > ul {
      list-style: none; }
      .navigation-sidebar .navigator-mobile > ul > li > a {
        color: #111;
        font-size: 1em;
        font-weight: 600;
        text-decoration: none;
        line-height: 2.25em;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        display: block; }
        .navigation-sidebar .navigator-mobile > ul > li > a:hover {
          color: #111; }
      .navigation-sidebar .navigator-mobile > ul > li .dropable-icon {
        float: right; }
      .navigation-sidebar .navigator-mobile > ul > li .dropdown-menu {
        padding-left: 0.9375em;
        padding-bottom: 0.9375em; }
        .navigation-sidebar .navigator-mobile > ul > li .dropdown-menu li {
          list-style: none; }
          .navigation-sidebar .navigator-mobile > ul > li .dropdown-menu li a {
            color: #888;
            font-size: 0.875em;
            font-weight: 500;
            text-decoration: none;
            line-height: 2.57143em;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            display: block; }
            .navigation-sidebar .navigator-mobile > ul > li .dropdown-menu li a:hover {
              color: #f26460; }
        .navigation-sidebar .navigator-mobile > ul > li .dropdown-menu .dropdown-menu__col.-banner a {
          display: block;
          height: 100%;
          width: 100%; }
          .navigation-sidebar .navigator-mobile > ul > li .dropdown-menu .dropdown-menu__col.-banner a img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
  .navigation-sidebar__footer {
    margin-top: auto; }
    .navigation-sidebar__footer__auth {
      color: #111;
      font-size: 1em;
      font-weight: normal;
      text-decoration: none;
      line-height: 1;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      display: block;
      margin-bottom: 3.125em; }
      .navigation-sidebar__footer__auth:hover {
        color: #f26460; }
    .navigation-sidebar__footer select {
      width: 100%;
      margin-bottom: 1.875em;
      padding-right: 0; }
    .navigation-sidebar__footer .social-icons > li > a {
      color: #111;
      font-size: 1em;
      font-weight: normal;
      text-decoration: none;
      line-height: 1;
      transition: 0.2s ease-in-out;
      cursor: pointer; }
      .navigation-sidebar__footer .social-icons > li > a:hover {
        color: #f26460; }









