html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-weight: normal;
  font-size: 16px; }
@media only screen and (max-width: 992px) {
  html, body {
    font-size: 15px; } }
@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px; } }

* {
  box-sizing: border-box; }

html {
  line-height: 1;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0;
  overflow-x: hidden; }

main {
  display: block; }

h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 1;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button {
  cursor: pointer; }

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;}

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button:focus, select:focus {
  outline: 0;
  box-shadow: none; }

input:focus {
  outline: 0; }

textarea {
  overflow: auto; }


details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

  .top-nav {
    background-color: #111;
    padding: 0.75em 0; }
  @media only screen and (max-width: 768px) {
    .top-nav {
      display: none; } }
  .top-nav__wrapper {
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center; }
  .top-nav.-style-2 .top-nav__wrapper__quick-links ul li{
    display: inline-block; }
  .top-nav.-style-2 .top-nav__wrapper__quick-links ul li a{
    color: #fff;
    font-size: 0.85em;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
  
    cursor: pointer; }
  .top-nav.-style-2 .top-nav__wrapper__quick-links ul li a:hover{
    color: #d16868; 
    transition: 0.2s ease-in-out;}
  .top-nav.-style-2 .top-nav__wrapper__quick-links ul li::after{
    content: "|";
    margin: 0 0.76923em;
    color: #fff; }
  .top-nav.-style-2 .top-nav__wrapper__quick-links ul li:last-child::after{
    display: none; }


  .login {
    margin-bottom: 6.25rem; }
    .login-title {
      color: #111;
      font-size: 1.875em;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 2.5em;
      text-align: center; }
    .login-form form .input-validator {
      margin-bottom: 1.42857em; 
      margin-left: 30%;
      margin-right: 30%;}
      .login-form form .input-validator input {
        background-color: paleturquoise;
        border: 1px solid #e1e1e1;
        height: 3.21429em;
        width: 100%;
        transition: 0.2s ease-in-out;
        -webkit-appearance: none;
        padding: 1.25rem;
        border-radius: 0px;
        color: #111;
        font-size: 0.8125rem;
        font-weight: normal;
        line-height: 3.21429em;
        margin: 10px; }
        .login-form form .input-validator input:focus {
          outline: 0; }
        .login-form form .input-validator .labelName {
            margin-left: 10px; }
        .login-form form .input-validator .labelPass {
          margin-left: 10px; }
        .login-form form .input-validator input:-webkit-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input::-webkit-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input:-moz-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em;
          line-height: -moz-block-height; }
        .login-form form .input-validator input::-moz-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em;
          line-height: -moz-block-height; }
        .login-form form .input-validator input:-ms-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input::-ms-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input:-o-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input::-o-input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input:input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; }
        .login-form form .input-validator input::input-placeholder {
          color: #888;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em; 
        
        }
        .login-form form .login{
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
     
        
  




.footer-one {
  padding-top: 2.5rem; }
  .footer-one__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2.5em;
    margin-bottom: 3.125em;
    border-bottom: 1px solid #e1e1e1; }
    @media only screen and (max-width: 768px) {
      .footer-one__header {
        flex-direction: column;
        align-items: center; } }
    .footer-one__header__logo a {
      display: inline-block; }
      .footer-one__header__logo a img {
        height: 100%;
        width: 100px;
        object-fit: contains; }
    @media only screen and (max-width: 768px) {
      .footer-one__header__logo {
        margin-bottom: 1.07143em; } }
    @media only screen and (max-width: 992px) {
      .footer-one__header__social {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.875em; }
        .footer-one__header__social .social-icons {
          width: 100%; } }
    @media only screen and (max-width: 768px) {
      .footer-one__header__social {
        margin-top: 0; } }
  .footer-one .footer-title {
    color: #111;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 2.5em; }
    @media only screen and (max-width: 992px) {
      .footer-one .footer-title {
        margin-bottom: 1.42857em; } }
  .footer-one__body {
    padding-bottom: 3.125em; }
    @media only screen and (max-width: 992px) {
      .footer-one__body .footer__section {
        margin-bottom: 1.875em; } }
    .footer-one__body .footer__section.-info p {
      color: #888;
      font-size: 0.875em;
      font-weight: normal;
      line-height: 1.71429em;
      margin-bottom: 0.625em; }
      .footer-one__body .footer__section.-info p span {
        color: #111; }
      .footer-one__body .footer__section.-info p:last-child {
        margin-bottom: 0; }
    .footer-one__body .footer__section.-payment p {
      color: #888;
      font-size: 0.875em;
      font-weight: normal;
      line-height: 1.71429em;
      margin-bottom: 2.14286em; }
    .footer-one__body .footer__section.-payment .payment-methods img {
      max-width: 100%; }
  .footer-one__footer {
    background-color: #f7f5f4;
    padding: 1em 0; }



.menu {
  background-color: #fff; }
  @media only screen and (max-width: 1170px) {
    .menu {
      font-size: 15px; } }
  @media only screen and (max-width: 992px) {
    .menu {
      padding: 0.9375em 0; } }
  @media only screen and (max-width: 768px) {
    .menu {
      font-size: 14px; } }
  .menu-functions {
    display: flex;
    align-items: center; }
    .menu-functions .menu-icon {
      margin-right: 1.875em; }
      .menu-functions .menu-icon img {
        height: 1.5625em;
        width: 1.5625em;
        object-fit: contain; }
    .menu-functions .menu-cart {
      margin-right: 0;
      display: flex;
      align-items: center; }
      .menu-functions .menu-cart .menu-icon {
        margin-right: 0.625em;
        position: relative; }
        .menu-functions .menu-cart .menu-icon span {
          color: #111;
          font-size: 0.625em;
          font-weight: 400;
          line-height: 1;
          position: absolute;
          top: 1.2em;
          left: 50%;
          transform: translateX(-50%); }
      .menu-functions .menu-cart h5 {
        color: #888;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 1; }
        .menu-functions .menu-cart h5 span {
          color: #111; }
    @media only screen and (max-width: 992px) {
      .menu-functions .menu-icon {
        margin-right: 0.9375em; }
        .menu-functions .menu-icon.-search {
          display: none; }
      .menu-functions .menu-cart {
        margin-right: 0.9375em; }
        .menu-functions .menu-cart .menu-icon {
          margin-right: 0; }
        .menu-functions .menu-cart h5 {
          display: none; } }
  .menu__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between; }
    @media only screen and (max-width: 992px) {
      .menu__wrapper .navigator {
        display: none; } }
    .menu__wrapper .navigator > ul {
      list-style: none; }
      .menu__wrapper .navigator > ul > li {
        display: inline-block;
        margin: 0 1.25em; }
        .menu__wrapper .navigator > ul > li.relative {
          position: relative; }
        .menu__wrapper .navigator > ul > li:first-child {
          margin-left: 0;
          padding-left: 0; }
        .menu__wrapper .navigator > ul > li:last-child {
          margin-right: 0;
          padding-right: 0; }
        .menu__wrapper .navigator > ul > li.active > a:after {
          height: 0.5em; }
        .menu__wrapper .navigator > ul > li > a {
          color: #111;
          font-size: 0.9375em;
          font-weight: 600;
          text-decoration: none;
          line-height: 6.66667em;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          display: block;
          position: relative;
          overflow: hidden; }
          .menu__wrapper .navigator > ul > li > a:hover {
            color: #111; }
          .menu__wrapper .navigator > ul > li > a:after {
            content: "";
            position: absolute;
            top: 50%;
            left: -100%;
            background-color: #f2646061;
            height: 0.53333em;
            width: 100%;
            z-index: 0;
            transition: 0.2s ease-in-out; }
        .menu__wrapper .navigator > ul > li:hover > a:after {
          left: 0; }
    .menu__wrapper .search-box {
      position: absolute;
      right: 0;
      width: 500px;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease-in-out;
      transform: translatex(150px);
      z-index: 3; }
      .menu__wrapper .search-box.active {
        opacity: 1;
        visibility: visible;
        transform: translatex(0); }
      .menu__wrapper .search-box form {
        position: relative;
        z-index: 1; }
        .menu__wrapper .search-box form input {
          background-color: #fff;
          border: 1px solid #e1e1e1;
          height: auto;
          width: 100%;
          transition: 0.2s ease-in-out;
          -webkit-appearance: none;
          padding: 1.25rem;
          border-radius: 0px;
          color: #111;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: auto;
          border: 0;
          box-shadow: 1px 1px 9px #00000024; }
          .menu__wrapper .search-box form input:focus {
            outline: 0; }

          .menu__wrapper .search-box form input:input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: auto; }
        .menu__wrapper .search-box form button {
          position: absolute;
          border: 0;
          background-color: transparent;
          right: 0.9375em;
          top: 50%;
          transform: translateY(-50%); }
  .menu.-style-6 {
    padding: 1.875em 0; }
    @media only screen and (max-width: 992px) {
      .menu.-style-6 .menu-functions:first-child {
        display: none; } }
    .menu.-style-6 .menu__wrapper .navigator {
      display: flex;
      align-items: flex-end; }
      .menu.-style-6 .menu__wrapper .navigator .menu__wrapper__logo {
        margin-right: auto; }
        .menu.-style-6 .menu__wrapper .navigator .menu__wrapper__logo img {
          height: 100px;
          width: 200px;
          object-fit: cover; }
      @media only screen and (max-width: 992px) {
        .menu.-style-6 .menu__wrapper .navigator > ul {
          display: none; } }
      .menu.-style-6 .menu__wrapper .navigator > ul.-left {
        margin-right: 2.8125em; }
      .menu.-style-6 .menu__wrapper .navigator > ul.-right {
        margin-left: 2.8125em; }
      .menu.-style-6 .menu__wrapper .navigator > ul > li > a {
        line-height: 1; }
    .menu.-style-6 .menu__wrapper .search-box {
      left: 0;
      right: auto; }

  .menu.-style-6 .menu__wrapper .navigator {
    align-items: center; }







