<div class="text-center py-4 bg-success container-fluid">
    <h1><i class="fal fa-check text-white"></i></h1>
    <h1 class="py-4">ORDER WILL BE DELIVERED TO YOUR ADDRESS</h1>
    <h3 class="py-4">PAYMENT METHOD: CASH ON DELIVERY</h3>
    <h4><div class="cart__table__footer"><a href="/"><i class="fal fa-long-arrow-left"></i>Continue Shopping</a></div></h4>
</div>