<div class="text-center py-4 bg-success container-fluid">
    <h1><i class="fal fa-check text-white"></i></h1>
    <h1 class="py-4">ĐƠN HÀNG SẼ ĐƯỢC GIAO TỚI ĐỊA CHỈ CỦA BẠN</h1>
    <h3 class="py-4">PHƯƠNG THỨC CHI TRẢ: Trả bằng tiền mặt khi nhận hàng</h3>
    <h4><div class="cart__table__footer"><a href="/"><i class="fal fa-long-arrow-left"></i>Tiếp tục mua sắm</a></div></h4>
</div>