<!--Deal of the week-->
    <div class="slider -style-7 slider-arrow-middle">
        <div class="slider__carousel">
            <div class="slider__carousel__item slider-1">
                <div class="container">
                    <div class="slider-background"><img class="slider-background" src="assets/images/slider/SliderSix/1.png" alt="Slider background"/></div>
                    <div class="slider-content">
                        <div class="dow-three__content">
                            <h5>Black Friday flash sale</h5>
                            <h3>Sale up to 60%</h3>
                            <a class="btn -transparent -underline" href="./shop-fullwidth-4col.html">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__carousel__item slider-2">
                <div class="container">
                    <div class="slider-background"><img class="slider-background" src="assets/images/slider/SliderSix/2.png" alt="Slider background"/></div>
                    <div class="slider-content">
                        <div class="dow-three__content">
                            <h5>Deal of the week</h5>
                            <h3>-30% of on creams</h3>
                            <a class="btn -transparent -underline" href="./shop-fullwidth-4col.html">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__carousel__item slider-3">
                <div class="container">
                    <div class="slider-background"><img class="slider-background" src="assets/images/slider/SliderSix/3.png" alt="Slider background"/></div>
                    <div class="slider-content">
                        <div class="dow-three__content">
                            <h5>Deal of the week</h5>
                            <h3>-30% of on creams</h3>
                            <a class="btn -transparent -underline" href="./shop-fullwidth-4col.html">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Thông tin về dịch vụ khách hàng, vận chuyển-->
    <div class="my-5">
        <div class="benefits">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="assets/images/benefits/1.png" alt="Free Shipping"/></div>
                            <div class="benefits__item__content">
                                <h5>Free Shipping</h5>
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="assets/images/benefits/2.png" alt="Valuable Gifts"/></div>
                            <div class="benefits__item__content">
                                <h5>Valuable Gifts</h5>
                                <p>Free gift after every 10 order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="assets/images/benefits/3.png" alt="All Day Support"/></div>
                            <div class="benefits__item__content">
                                <h5>All Day Support</h5>
                                <p>Call us: +01 234 567 89</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="assets/images/benefits/4.png" alt="Seasonal Sale"/></div>
                            <div class="benefits__item__content">
                                <h5>Seasonal Sale</h5>
                                <p>Discounts up to 50% on all</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--New arrivals-->
    <div class="product-tab -style-2 mt-5">
        <div class="container">
            <div class="product-tab__header">
                <h5>New arrivals</h5>
                <div class="product-tab-slide__header__controller">
                    <ul>
                        <li class="active"><a href="#">all</a></li>
                        <li><a href="./shop-fullwidth-4col.html">perfume</a></li>
                        <li><a href="./shop-fullwidth-4col.html">cosmetics</a></li>
                        <li><a href="./shop-fullwidth-4col.html">fashion</a></li>
                        <li><a href="./shop-fullwidth-4col.html">skincare</a></li>
                    </ul><a class="btn -white" href="shop-fullwidth-4col.html">View all</a>
                </div>
            </div>
            <div class="product-tab__content">
                <div class="product-tab_content__wrapper">
                    <div class="row mx-n1 mx-md-n3">
                        <div class="col-6 col-md-3 px-1 px-md-3 mb-4">
                            <div class="product ">
                                <div class="product-type"><h5 class="-new">New</h5></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">eyes</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">The expert mascaraa</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$35.00</h5>
                                        <div class="product-colors">
                                            <div class="product-colors__item" style="background-color: #8B0000"></div>
                                            <div class="product-colors__item" style="background-color: #4169E1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-1 px-md-3 mb-4">
                            <div class="product ">
                                <div class="product-type"></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="./product-detail.html"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">eyes</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">Velvet Melon High Intensity</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$38.00</h5>
                                        <div class="product-colors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-1 px-md-3">
                            <div class="product ">
                                <div class="product-type"><h5 class="-sale">-15%</h5></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">eyes</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">Leather shopper bag</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$30.00</h5>
                                        <h5 class="product-price--discount">$35.00</h5>
                                        <div class="product-colors">
                                            <div class="product-colors__item" style="background-color: #8B0000"></div>
                                            <div class="product-colors__item" style="background-color: #4169E1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-1 px-md-3">
                            <div class="product ">
                                <div class="product-type"></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">eyes</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">Luxe jewel lipstick</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$38.00</h5>
                                        <div class="product-colors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-n1 mx-md-n3 mt-4">
                        <div class="col-6 col-md-3 px-1 px-md-3 mb-4">
                            <div class="product ">
                                <div class="product-type"><h5 class="-sale">-50%</h5></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">face</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">Penpoint seamless beauty</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$40.00</h5>
                                        <h5 class="product-price--discount">$20.00</h5>
                                        <div class="product-colors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-1 px-md-3 mb-4">
                            <div class="product ">
                                <div class="product-type"></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">face</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">The sneaky lips</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$38.00</h5>
                                        <div class="product-colors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-1 px-md-3">
                            <div class="product ">
                                <div class="product-type"></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">face</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">White Facial Cream</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$38.00</h5>
                                        <div class="product-colors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-1 px-md-3">
                            <div class="product ">
                                <div class="product-type"></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/2.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">face</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail.html">Orange Massage Cream</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">$55.00</h5>
                                        <div class="product-colors">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Best seller-->
    <div class="product-tab-slide ">
        <div class="container">
            <div class="product-tab-slide__header">
                <h5>Best seller</h5>
                <div class="product-tab-slide__header__controller">
                    <ul>
                        <li class="active"><a href="#">all</a></li>
                        <li><a href="./shop-fullwidth-4col.html">perfume</a></li>
                        <li><a href="./shop-fullwidth-4col.html">cosmetics</a></li>
                        <li><a href="./shop-fullwidth-4col.html">fashion</a></li>
                        <li><a href="./shop-fullwidth-4col.html">skincare</a></li>
                    </ul>
                    <a class="btn -white" href="shop-fullwidth-4col.html">View all</a>
                </div>
            </div>
        </div>
        <div class="product-tab-slide__content">
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"><h5 class="-new">New</h5></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">eyes</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">The expert mascaraa</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$35.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">eyes</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">Orange Massage Cream</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$55.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">eyes</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">White Facial Cream</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$55.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">face</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">The Sneaky Lips</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$38.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"><h5 class="-sale">-50%</h5></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">face</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">TPenpoint seamless beauty</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$40.00</h5>
                            <h5 class="product-price--discount">$20.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"><h5 class="-sale">-15%</h5></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">eyes</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">Leather shopper bag</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$35.00</h5>
                            <h5 class="product-price--discount">$30.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: brown"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">lips</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">Luxe jewel lipstick</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$35.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: lightpink"></div>
                                <div class="product-colors__item" style="background-color: darkred"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"><h5 class="-new d-inline-block mr-1">New</h5><h5 class="-sale d-inline-block">-20%</h5></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail.html"><img src="assets/images/product/1.png" alt="Product image"/><img src="assets/images/product/2.png" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="./cart.html"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">lips</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail.html">Something</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">$64.00</h5>
                            <h5 class="product-price--discount">$80.00</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: lightgreen"></div>
                                <div class="product-colors__item" style="background-color: lightpink"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

