<!--Login-->
    <div class="login">
        <h3 class="login-title">LOGIN</h3>
        <div class="login-form">
          <form>
            <div class="input-validator">
                <label class="labelName" for="username"> UserName: </label>
                <input type="text" name="username" placeholder="User Name"/>
            </div>
            <div class="input-validator">
                <label class="labelPass" for="password"> Password: </label>
                <input type="text" name="password" placeholder="Password"/>
            </div>
            <div class="registerlink">
                <a href="/user/signup">Sign Up</a>
            </div>
            <div class="forgotPass">
                <a href="/user/forgotpass">Forgot Password</a>
            </div>
            <div class="loginBTN">
                <button id="btn-login" type="submit" >Login</button>
            </div>
          </form>
        </div>
      </div>
