    <div class="shop">
      <div class="container">
        <div class="product-detail__wrapper">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="product-detail__slide-two">
                <div class="product-detail__slide-two__big">
                  <div class="slider__item"><img src="./../assets/images/product/1.png" alt="Product image"/></div>
                  <div class="slider__item"><img src="./../assets/images/product/2.png" alt="Product image"/></div>
                  <div class="slider__item"><img src="./../assets/images/product/3.png" alt="Product image"/></div>
                  <div class="slider__item"><img src="./../assets/images/product/4.png" alt="Product image"/></div>
                </div>
                <div class="product-detail__slide-two__small">
                  <div class="slider__item"><img src="./../assets/images/product/1.png" alt="Product image"/></div>
                  <div class="slider__item"><img src="./../assets/images/product/2.png" alt="Product image"/></div>
                  <div class="slider__item"><img src="./../assets/images/product/3.png" alt="Product image"/></div>
                  <div class="slider__item"><img src="./../assets/images/product/4.png" alt="Product image"/></div>
                </div>
              </div>

  
            </div>
            <div class="col-12 col-md-6">
              <div class="product-detail__content">
                    <div class="product-detail__content">
                      <div class="product-detail__content__header">
                        <h5>eyes</h5>
                        <h2>The expert mascaraa</h2>
                      </div>
                      <h3>$35.00</h3>
                      <div class="divider"></div>
                      <div class="product-detail__content__footer">
                        <ul>
                          <li>Brand:gucci
                          </li>
                          <li>Product code: PM 01
                          </li>
                          <li>Reward point: 30
                          </li>
                          <li>Availability: In Stock</li>
                        </ul>
                        <div class="product-detail__colors"><span>Color:</span>
                          <div class="product-detail__colors__item" style="background-color: #8B0000"></div>
                          <div class="product-detail__colors__item" style="background-color: #4169E1"></div>
                        </div>
                        <div class="product-detail__controller">
                              <div class="quantity-controller -border -round">
                                <div class="quantity-controller__btn -descrease">-</div>
                                <div class="quantity-controller__number">2</div>
                                <div class="quantity-controller__btn -increase">+</div>
                              </div>
                              <div class="add-to-cart -dark"><a class="btn -round -red" href="#"><i class="fas fa-shopping-bag"></i></a>
                                <h5>Add to cart</h5>
                              </div>
                        </div>
                        <div class="divider"></div>
                        <div class="product-detail__content__tab">
                          <ul class="tab-content__header">
                            <li class="tab-switcher" data-tab-index="0" tabindex="0">Description</li>
                          </ul>
                          <div id="allTabsContainer">
                            <div class="tab-content__item -description" data-tab-index="0">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>