<!--Register-->
    <div class="register">
        <h3 class="register-title">SIGN UP</h3>
        <div class="register-form">
        <form action="/user/signup" method="POST">
             <p class="text-center font-weight-bold text-{{type}}">{{message}}</p>
            <div class="input-validator">
                <label class="labelEmail" for="email">Email: </label>
                <input type="email" name="email" placeholder="Enter your email"/>
            </div>
            <div class="input-validator">
                <label class="labelName" for="username"> UserName: </label>
                <input type="text" name="username" placeholder="Enter your UserName"/>
            </div>
            <div class="input-validator">
                <label class="labelPass" for="password"> Password: </label>
                <input type="password" name="password" placeholder="Enter your Password"/>
            </div>
            <div class="input-validator">
                <label class="labelRePass" for="confirmPassword">Enter Password Again: </label>
                <input type="password" name="confirmPassword" placeholder="Enter Password Again"/>
            </div>
            <div class="loginLink">
                <a href="/user/login">Login</a>
            </div>
            <div class="forgotPass">
                <a href="/user/forgotpass">Forgot Password</a>
            </div>
            <div class="registerBTN">
                <button id="btn-register" type="submit" >Sign up</button>
            </div>
        </form>
        </div>
    </div>