<!--Footer-->
    <div class="footer-one">
        <div class="container">
            <div class="footer-one__header">
                <div class="footer-one__header__logo"><a href="./homepage1.html"><img src="assets/images/logo.png" alt="Logo"/></a></div>
                <div class="footer-one__header__social">
                    <div class="social-icons -border">
                        <ul>
                            <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" ><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"> </i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-one__body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="footer__section -info">
                            <h5 class="footer-title">Contact info</h5>
                            <p>Address:<span>227 Nguyễn Văn Cừ, phường 4, quận 5, Thành phố Hồ Chí Minh</span></p>
                            <p>Phone:<span>+84 28 6288 4499</span></p>
                            <p>Email:<span>Group6@student.hcmus.edu.vn</span></p>
                            <p>Opentime:<span>9.00am - 10.00.pm</span></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="footer__section -payment">
                            <h5 class="footer-title">Payment methods</h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit gravida facilisis.</p>
                            <div class="payment-methods"><img src="assets/images/footer/payment.png" alt="Payment methods"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid reference">
        <div class="container py-3 text-center">
            <a><strong>Base on Eliah©</strong></a>
        </div>
    </div>
