<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<title>People's Cosmetic Shop</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700;900&amp;display=swap"/>
<link rel="shortcut icon" type="image/ico" href="./assets/images/nav.ico"/>


<!--bootstrap-->
<link rel="stylesheet" href="assets/css/bootstrap.css"/>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--slider and carousel-->
<link rel="stylesheet" href="assets/css/slick.min.css"/>

<!--font-->
<link rel="stylesheet" href="assets/css/fontawesome.css"/>

<!--page layout-->
<link rel="stylesheet" href="assets/css/style.css"/>

<!--Mobile nav bar-->
<link rel="stylesheet" href="assets/css/bootstrap-drawer.min.css"/>