{{#unless user.login}}
    <div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>
                        <li><a href="./login.html">Login</a></li>
                        <li><a href="./register.html">Register</a></li>
                        <div class="dropdown">
                            <span class="text-white">My profile demo</span>
                            <div class="dropdown-content">
                                <a href="./my_profile_edit_profile">Edit profile</a>
                                <a href="./my_profile_history">History</a>
                                <a href="./my_profile_status">Order Status </a>
                                <a href="./my_profile_address">My Address </a>
                                <a href="./my_profile_security">Security</a>
                                <a href="./my_profile_setting">Setting</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{else}} 
<div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>
                        <li><a href="/">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/unless}}