{{#unless user.login}}
    <div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>
                        <li><a href="./login.html">Login</a></li>
                        <li><a href="./register.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{else}} 
<div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>
                        <li><a href="./edit_profile">edit profile</a></li>
                        <li><a href="/">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/unless}}