
    <div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>
                        <li><a href="./login.html">Login</a></li>
                        <li><a href="./register.html">Register</a></li>
                        <li><a href="/edit_profile">Edit profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>