<!--Top navigator bar-->
    <div class="menu -style-6">
        <div class="container">
          <div class="menu__wrapper">
                <div class="menu-functions "><a class="menu-icon -search" href="#"><img src="/assets/images/header/search-icon.png" alt="Search icon"/></a>
                  <div class="search-box">
                    <form>
                      <input type="text" placeholder="What are you looking for?" name="search"/>
                      <button><img src="/assets/images/header/search-icon.png" alt="Search icon"/></button>
                    </form>
                  </div>
                </div>
                <div class="navigator">
                    <ul class="navigator_part -left">
                        <li><a href="/shop-fullwidth-4col">Perfume</a></li>
                        <li><a href="/shop-fullwidth-4col">Cosmetic</a></li>
                    </ul>
                    <a class="menu__wrapper__logo" href="/"><img src="/assets/images/logo.png" alt="Logo"/></a>
                    <ul class="navigator_part -right">
                        <li><a href="/shop-fullwidth-4col">Clothes</a></li>
                        <li><a href="/shop-fullwidth-4col">Skincare</a></li>
                    </ul>
                </div>
                <div class="menu-functions "><a class="menu-icon" href="/"></a>
                    <div class="menu-cart"><a class="menu-icon -cart" href=""><img src="/assets/images/header/cart-icon.png" alt="Wishlist icon"/><span class="cart__quantity"></span></a>
                        <h5 class="font-weight-bold"><span>{{cartQuantity}}</span></h5>
                    </div>
                    <a class="menu-icon -navbar" href="#">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
