 <!--Mobile top nav bar-->
    <div id="content">
        <div class="drawer drawer-right slide" id="mobile-menu-drawer" tabindex="-1" role="dialog" aria-labelledby="drawer-demo-title" aria-hidden="true">
            <div class="drawer-content drawer-content-scrollable" role="document">
                <div class="drawer-body">
                    <div class="cart-sidebar">
                        <div class="cart-items__wrapper">
                            <div class="navigation-sidebar">
                                <div class="search-box">
                                    <form action='/search' method="POST">
                                        <input type="text" placeholder="Bạn cần gì?" name="keyword"/>
                                        <button type="submit"><img src="/assets/images/header/search-icon.png" alt="Search icon"/></button>
                                    </form>
                                </div>
                                <div class="navigator-mobile">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a class="dropdown-menu-controller" href="#">Tài khoản<span class="dropable-icon"><i class="fas fa-angle-down"></i></span></a>
                                        {{#unless userLoggedIn}}
                                            <ul class="dropdown-content">
                                                <ul class="dropdown-menu__col">
                                                    <li><a href="/user/login?nextURL={{currentURL}}">Đăng nhập</a><li>
                                                    <li><a href="/signup">Đăng ký</a></li>
                                                </ul>
                                            </ul>
                                        {{else}}
                                            <ul class="dropdown-content">
                                                <a href="/my_profile?firstActive=edit_profile">Hồ sơ</a>
                                                <br>
                                                <a href="/my_profile?firstActive=history">Lịch sử mua hàng</a>
                                                <br>
                                                <a href="/my_profile?firstActive=status">Kiểm tra đơn hàng </a>
                                                <br>
                                                <a href="/my_profile?firstActive=address">Địa chỉ </a>
                                                <br>
                                                <a href="/my_profile?firstActive=security">Bảo mật</a>
                                                <br>
                                                <a href="/my_profile?firstActive=setting">Cài đặt khác</a>
                                            </ul>
                                        {{/unless}}
                                        </li>
                                        <li><a class="dropdown-menu-controller" href="#">Shop<span class="dropable-icon"><i class="fas fa-angle-down"></i></span></a>
                                            <ul class="dropdown-content">
                                                <ul class="dropdown-menu__col">
                                                    <li><a href="shop-fullwidth-4col.html">Tất cả sản phẩm</a></li>
                                                    <li><a href="shop-fullwidth-4col.html">Nước hoa</a></li>
                                                    <li><a href="shop-fullwidth-4col.html">Mỹ phẩm</a></li>
                                                    <li><a href="shop-fullwidth-4col.html">Thời trang</a></li>
                                                    <li><a href="shop-fullwidth-4col.html">Chăm sóc da</a></li>
                                                </ul>
                                                <ul class="dropdown-menu__col">
                                                    <li><a href="cart.html">Giỏ hàng</a></li>
                                                    <li><a href="checkout.html">Thanh toán</a></li>
                                                </ul>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-icons ">
                                    <ul>
                                        <li><a href="https://www.facebook.com/" style="color: undefined"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com" style="color: undefined"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://instagram.com/" style="color: undefined"><i class="fab fa-instagram"> </i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>