
.login {
  margin-bottom: 2%;
  padding: 2cm; 
  background-color: lightgray;
  }
      .login-title {
        color: #111;
        font-size: 1.875em;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 1em;
        margin-top: 5%;
        text-align: center; }
      .login-form form .input-validator {
        margin-bottom: 1.42857em; 
        margin-left: 30%;
        margin-right: 30%;}
        @media only screen and (max-width: 1170px) {
          .login-form form .input-validator {
            margin-bottom: 1.42857em; 
            margin-left: 15%;
            margin-right: 15%;}
            .login-form form .register{
              margin-left: 1%;
            }
            .login-form form .forgotPass{
              margin-left: 15%;
              margin-top: 2%;
            }
        }
        @media only screen and (max-width: 992px) {
          .login-form form .input-validator {
            margin-bottom: 1.42857em; 
            margin-left: 10%;
            margin-right: 10%;}
            .login-form form .register{
              margin-left: 10%;
            }
            .login-form form .forgotPass{
              margin-left: 10%;
              margin-top: 2%;
            }
        }
        @media only screen and (max-width: 768px) {
          .login-form form .input-validator {
            margin-bottom: 1.42857em; 
            margin-left: 1%;
            margin-right: 1%;}
            .login-form form .register{
              margin-left: 1%;
            }
            .login-form form .forgotPass{
              margin-left: 1%;
              margin-top: 5%;
            }
          }
        .login-form form .input-validator input {
          background-color: white;
          border: 1px solid #e1e1e1;
          height: 3.21429em;
          width: 100%;
          transition: 0.2s ease-in-out;
          -webkit-appearance: none;
          padding: 1.25rem;
          border-radius: 0px;
          color: #111;
          font-size: 0.8125rem;
          font-weight: normal;
          line-height: 3.21429em;
          margin: 10px; }
          .login-form form .input-validator input:focus {
            outline: 0; }
          .login-form form .input-validator .labelName {
              margin-left: 10px; }
          .login-form form .input-validator .labelPass {
            margin-left: 10px; }
          .login-form form .input-validator input:-webkit-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input::-webkit-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input:-moz-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em;
            line-height: -moz-block-height; }
          .login-form form .input-validator input::-moz-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em;
            line-height: -moz-block-height; }
          .login-form form .input-validator input:-ms-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input::-ms-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input:-o-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input::-o-input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input:input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; }
          .login-form form .input-validator input::input-placeholder {
            color: #888;
            font-size: 0.8125rem;
            font-weight: normal;
            line-height: 3.21429em; 
          
          }
          .login-form form .loginBTN #btn-login{
            margin-top: 1cm;
            margin-left: 50%;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 10px;
              
          }
          .login-form form .registerlink  {
            margin-left: 31%;
          }
          .login-form form .forgotPass{
            margin-left: 31%;
            margin-top: 2%;
          }
          @media only screen and (max-width: 1170px) {
              .login-form form .register{
                margin-left: 16%;
              }
              .login-form form .forgotPass{
                margin-left: 16%;
                margin-top: 2%;
              }
          }
          @media only screen and (max-width: 992px) {
              .login-form form .register{
                margin-left: 11%;
              }
              .login-form form .forgotPass{
                margin-left: 11%;
                margin-top: 2%;
              }
          }
          @media only screen and (max-width: 768px) {
              .login-form form .register{
                margin-left: 3%;
              }
              .login-form form .forgotPass{
                margin-left: 3%;
                margin-top: 5%;
              }
            }
  
  
